.message-container{
    position: relative;
    z-index: 0;
}

.bg-map{
    background: url(/assets/img/gmap.jpg)center/cover;
    height: 450px;
    width: 100%;
    position: absolute;
    z-index: -1;
    margin-top: -90px;
  }