.Main-menu {
  background: url(/assets/img/bg-menu-01.jpg) center/cover;
  height: 800px;
  position: relative;
}

.menu {
  position: absolute;
  display: grid;
  justify-content: center;
  margin-top: -100px;
  transform: translateY(-50%);
  transform: translateX(50%);
  grid-template-columns: 500px 500px;
  grid-template-rows: 170px 170px 170px 170px;

  .menu-01 {
    @include template-menu;
    border-top: 5px solid $color3;
  }

  .menu-02 {
    @include template-menu;
    border-top: 5px solid $color3;
  }
  .menu-03 {
    @include template-menu;
  }
  .menu-04 {
    @include template-menu;
  }
  .menu-05 {
    @include template-menu;
  }
  .menu-06 {
    @include template-menu;
  }
  .menu-07 {
    @include template-menu;
  }
  .menu-08 {
    @include template-menu;
  }
}
