@media screen and (max-width: 600px) {
  body {
    background: rgb(33, 33, 33);
    max-width: 600px;
  }

  /**********NAV****************/

  nav {
    ul {
      display: none;
      visibility: hidden;
    }

    div {
      margin-top: 20px;
    }

    i {
      margin-left: -80px;
    }
  }

  /**********TITLE****************/

  .title {
    display: inline-block;
    h3 {
      font-weight: 100;
      font-size: 0.2rem;
      margin-top: -100px;
      line-height: 180px;
    }

    h1 {
      font-size: 0.5rem;
    }

    h4 {
      width: 60%;
      margin: 0 auto;
    }
  }

  /**********DISCOVER****************/

  .discover {
    display: inline-block;
    margin: 0 auto;

    .discover-img {
      display: none;
      visibility: hidden;
    }
  }

  /**********CHOICE OF DINNER****************/
  .choice-of-dinner {
    height: 900px;
  }
  .menu-container {
    overflow: hidden;
    position: relative;

    ul {
      color: $color1;
      font-size: "font-1";
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
    }

    li {
      margin-top: 20px;
      padding: 30px;
      color: $color2;
      text-decoration: underline;
      text-underline-offset: 10px;
    }
  }

  /**********MENU****************/
  .Main-menu {
    background: url(/assets/img/bg-menu-01.jpg) center/cover;
    height: 620px;
    position: relative;
  }

  .menu {
    left: 50%;
    transform: translateX (-50%);
    top: -15%;
    transform: translateY(-50%);
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    overflow: hidden;
    display: inline-block;
    align-items: center;
    justify-content: center;
    max-width: 500px;

    .menu-01 {
      @include template-menu;
      border-top: 5px solid $color3;
    }

    .menu-02 {
      @include template-menu;
      border-top: hidden;
    }
  }

  /**********RESERVATION****************/

  .reservation {
    margin-top: 100px;
    background: black;
    display: block;

    .open {
      margin: 0 auto;
    }

    .open-container {
      border: 1px solid $color2;
      border-style: dashed;
      margin: 20px 20px 20px 20px;
    }

    .online-booking {
      margin-top: -20px;
    }

    .form-container {
      display: block;
      margin: 0 auto;
    }

    .form {
      margin: 0 auto;
      border-bottom: 1px solid rgb(124, 124, 124);
      margin-top: 50px;
      padding-bottom: 10px;
      max-width: 40%;
    }
  }

  /**********EVENT****************/
  .event {
    visibility: hidden;
  }

  .calendar {
    visibility: hidden;
  }

  /**********MESSAGE CEO****************/

  .message-chef {
    display: block;
    max-width: 80%;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 300px;

    p {
      max-width: 55%;
      font-size: 0.8rem;
      margin: 0 auto;
    }
  }

  .message-container {
    position: relative;
    z-index: 0;
    height: 600px;
    margin-top: -0px;

    img {
      margin-left: -50px;
    }
  }

  /**********BG MAP****************/

  .bg-map {
    max-width: 600px;
    margin: 0 auto;
    background: url(/assets/img/gmap.jpg) center/cover;
    position: absolute;
    z-index: -1;
    margin-top: -90px;
    margin-left: -50px;
  }

  footer {
    display: block;
    background: none;

    .footer-left {
      display: none;
      visibility: hidden;
    }
  }
}

@media screen and (max-width: 1400px) {
  body {
    background: rgb(33, 33, 33);
    max-width: auto;
  }
}
