.reservation {
  max-width: 1200px;
  margin: 0 auto;
  height: 550px;
  margin-top: 40px;
  background: rgb(33, 33, 33);
  display: grid;
  justify-items: stretch;
  grid-template-columns: 30% 70%;

  .open {
    background: black;
    display: block;
    align-items: center;
    text-align: center;

    h3 {
      color: $color3;
      font-family: "font-1";
      font-size: 2.5rem;
      margin-top: 40px;
    }

    h4 {
      color: $color1;
      font-family: "font-2";
      font-size: 1.2rem;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-top: -10px;
      text-align: center;
    }

    .img {
      margin-top: 20px;
    }

    h5 {
      color: $color3;
      font-family: "font-2";
      font-size: 1.5rem;
      text-transform: uppercase;
      margin-top: 20px;
      margin-bottom: 30px;
    }

    h6 {
      color: $color1;
      font-family: "font-3";
      font-size: 1rem;
      font-weight: 100;
    }
  }

  .open-container {
    border: 1px solid $color2;
    border-style: dashed;
    margin: 20px 20px 20px 20px;
  }

  .online-booking {
    background: white;
    display: block;
    align-items: center;
    text-align: center;

    h3 {
      color: $color3;
      font-family: "font-1";
      font-size: 4rem;
      font-weight: 100;
      margin-top: 60px;
    }

    h4 {
      color: $color4;
      font-family: "font-2";
      font-size: 3rem;
      text-transform: uppercase;
      font-weight: 100;
      margin-top: -25px;
    }
  }

  .img {
    margin-top: 20px;
  }

  /*******************FORM**********************************/

  .form-container{
   display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    margin-top: 10px;    
 
    select{
      width: 200px;
        border: none;

    }

    label{
      color: transparent;
    }

    input{
        width: 200px;
        border: none;
    }

  .form{
    border-bottom: 1px solid rgb(124, 124, 124);
    margin-top: 50px;
    padding-bottom: 10px;
  }
  button{
    background: rgb(33, 33, 33);
    color: $color1;
    font-family: "font-2";
    border-radius: 20px;
    margin-top: 30px;
    width: 200px;
    height: 30px;
    border: none;
    cursor: pointer;

    &:hover{
      width: 150px;
      height: 20px;
    }
  }
  }
  }



    
  



