* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(33, 33, 33);
  width: auto;
}

@font-face {
  font-family: "font-1";
  src: url(/assets/fonts/Allura-Regular.ttf);
}
@font-face {
  font-family: "font-2";
  src: url(/assets/fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "font-3";
  src: url(/assets/fonts/Roboto-Light.ttf);
}
.section-1 {
  background: url(/assets/img/bg-slider-06.jpg) center/cover;
  height: 100vh;
  margin: 0 auto;
}
.section-1 nav {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  align-content: center;
  grid-template-areas: "left center right";
  align-items: center;
}
.section-1 nav div:nth-child(1) {
  color: rgb(254, 254, 254);
  font-family: "font-1";
  font-size: 4rem;
  grid-area: left;
  display: flex;
  justify-content: center;
}
.section-1 nav div:nth-child(2) {
  color: rgb(254, 254, 254);
  font-family: "font-3";
  text-transform: uppercase;
  grid-area: center;
}
.section-1 nav div:nth-child(2) ul {
  display: flex;
  justify-content: space-around;
  font-size: 1rem;
  list-style: none;
}
.section-1 nav div:nth-child(3) {
  color: rgb(254, 254, 254);
  font-family: "font-1";
  grid-area: right;
  display: flex;
  justify-content: left;
  align-items: center;
}
.section-1 nav div:nth-child(3) i {
  padding: 20px;
}
.section-1 .title {
  margin: 0 auto;
  margin-top: 190px;
  text-align: center;
}
.section-1 .title h3 {
  color: rgb(158, 103, 0);
  font-family: "font-1";
  font-size: 5rem;
}
.section-1 .title h1 {
  color: rgb(254, 254, 254);
  text-transform: uppercase;
  font-family: "font-2";
  font-size: 4rem;
  letter-spacing: 15px;
  margin-top: -45px;
}
.section-1 .title img {
  margin-top: 50px;
}
.section-1 .title h4 {
  color: rgb(243, 243, 243);
  text-transform: uppercase;
  font-family: "font-3";
  font-style: italic;
  letter-spacing: 5px;
  margin-top: 50px;
  font-weight: 500;
}

.discover {
  background: white;
  display: grid;
  grid-template-columns: 50% 50%;
}
.discover .our-store {
  text-align: center;
}
.discover .our-store-container {
  background: white;
  margin: 0 auto;
  border: 1px solid rgb(158, 103, 0);
  border-style: dashed;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.discover .our-store-container h3 {
  color: rgb(158, 103, 0);
  font-family: "font-1";
  font-weight: 100;
  font-size: 2rem;
}
.discover .our-store-container h4 {
  color: rgb(9, 9, 9);
  font-family: "font-2";
  text-transform: uppercase;
  font-weight: 800;
  margin-top: -12px;
}
.discover .our-store-container img {
  margin-top: 25px;
}
.discover .our-store-container p {
  margin-top: 30px;
  font-family: "font-3";
  font-weight: 300;
}
.discover .our-store-container .chef-cook-img {
  background-color: rgb(245, 245, 245);
  border: none;
  padding: 10px;
  border-radius: 50%;
  margin-top: 30px;
}
.discover .our-store-container h6 {
  color: rgb(9, 9, 9);
  font-family: "font-2";
  font-size: 1.2rem;
  font-weight: 100;
}
.discover .discover-img {
  background: url(/assets/img/store-01.jpg) center/cover;
}
.discover h5 {
  color: rgb(131, 129, 129);
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 20px;
}

.choice-of-dinner {
  background: rgb(33, 33, 33);
  text-align: center;
  height: 350px;
}
.choice-of-dinner h3 {
  color: rgb(158, 103, 0);
  font-family: "font-1";
  font-weight: 100;
  font-size: 2rem;
}
.choice-of-dinner img {
  margin-top: 20px;
}
.choice-of-dinner ul {
  color: rgb(254, 254, 254);
  font-size: "font-1";
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.choice-of-dinner li {
  margin-top: 20px;
  padding: 50px;
  color: rgb(243, 243, 243);
  text-decoration: underline;
  text-underline-offset: 10px;
}

.Main-menu {
  background: url(/assets/img/bg-menu-01.jpg) center/cover;
  height: 100vh;
  position: relative;
}

.menu {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: -100px;
  display: grid;
  justify-content: center;
  grid-template-columns: 500px 500px;
}
.menu .menu-01 {
  background: rgb(254, 254, 254);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  border-top: 5px solid rgb(158, 103, 0);
}
.menu .menu-01::before {
  content: "";
  position: absolute;
  width: 85%;
  border-bottom: dashed 1px black;
  padding: 20px;
  bottom: 10px;
}
.menu .menu-01 img {
  border: none;
  padding: 10px;
  border-radius: 50%;
  margin-top: 25px;
}
.menu .menu-01 h4 {
  text-transform: uppercase;
  font-family: "font-2";
  font-weight: 100;
}
.menu .menu-01 h5 {
  font-family: "font-3";
  font-weight: 300;
}
.menu .menu-01 .price {
  color: rgb(158, 103, 0);
}
.menu .menu-02 {
  background: rgb(254, 254, 254);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  border-top: 5px solid rgb(158, 103, 0);
}
.menu .menu-02::before {
  content: "";
  position: absolute;
  width: 85%;
  border-bottom: dashed 1px black;
  padding: 20px;
  bottom: 10px;
}
.menu .menu-02 img {
  border: none;
  padding: 10px;
  border-radius: 50%;
  margin-top: 25px;
}
.menu .menu-02 h4 {
  text-transform: uppercase;
  font-family: "font-2";
  font-weight: 100;
}
.menu .menu-02 h5 {
  font-family: "font-3";
  font-weight: 300;
}
.menu .menu-02 .price {
  color: rgb(158, 103, 0);
}
.menu .menu-03 {
  background: rgb(254, 254, 254);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.menu .menu-03::before {
  content: "";
  position: absolute;
  width: 85%;
  border-bottom: dashed 1px black;
  padding: 20px;
  bottom: 10px;
}
.menu .menu-03 img {
  border: none;
  padding: 10px;
  border-radius: 50%;
  margin-top: 25px;
}
.menu .menu-03 h4 {
  text-transform: uppercase;
  font-family: "font-2";
  font-weight: 100;
}
.menu .menu-03 h5 {
  font-family: "font-3";
  font-weight: 300;
}
.menu .menu-03 .price {
  color: rgb(158, 103, 0);
}
.menu .menu-04 {
  background: rgb(254, 254, 254);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.menu .menu-04::before {
  content: "";
  position: absolute;
  width: 85%;
  border-bottom: dashed 1px black;
  padding: 20px;
  bottom: 10px;
}
.menu .menu-04 img {
  border: none;
  padding: 10px;
  border-radius: 50%;
  margin-top: 25px;
}
.menu .menu-04 h4 {
  text-transform: uppercase;
  font-family: "font-2";
  font-weight: 100;
}
.menu .menu-04 h5 {
  font-family: "font-3";
  font-weight: 300;
}
.menu .menu-04 .price {
  color: rgb(158, 103, 0);
}
.menu .menu-05 {
  background: rgb(254, 254, 254);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.menu .menu-05::before {
  content: "";
  position: absolute;
  width: 85%;
  border-bottom: dashed 1px black;
  padding: 20px;
  bottom: 10px;
}
.menu .menu-05 img {
  border: none;
  padding: 10px;
  border-radius: 50%;
  margin-top: 25px;
}
.menu .menu-05 h4 {
  text-transform: uppercase;
  font-family: "font-2";
  font-weight: 100;
}
.menu .menu-05 h5 {
  font-family: "font-3";
  font-weight: 300;
}
.menu .menu-05 .price {
  color: rgb(158, 103, 0);
}
.menu .menu-06 {
  background: rgb(254, 254, 254);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.menu .menu-06::before {
  content: "";
  position: absolute;
  width: 85%;
  border-bottom: dashed 1px black;
  padding: 20px;
  bottom: 10px;
}
.menu .menu-06 img {
  border: none;
  padding: 10px;
  border-radius: 50%;
  margin-top: 25px;
}
.menu .menu-06 h4 {
  text-transform: uppercase;
  font-family: "font-2";
  font-weight: 100;
}
.menu .menu-06 h5 {
  font-family: "font-3";
  font-weight: 300;
}
.menu .menu-06 .price {
  color: rgb(158, 103, 0);
}
.menu .menu-07 {
  background: rgb(254, 254, 254);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.menu .menu-07::before {
  content: "";
  position: absolute;
  width: 85%;
  border-bottom: dashed 1px black;
  padding: 20px;
  bottom: 10px;
}
.menu .menu-07 img {
  border: none;
  padding: 10px;
  border-radius: 50%;
  margin-top: 25px;
}
.menu .menu-07 h4 {
  text-transform: uppercase;
  font-family: "font-2";
  font-weight: 100;
}
.menu .menu-07 h5 {
  font-family: "font-3";
  font-weight: 300;
}
.menu .menu-07 .price {
  color: rgb(158, 103, 0);
}
.menu .menu-08 {
  background: rgb(254, 254, 254);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.menu .menu-08::before {
  content: "";
  position: absolute;
  width: 85%;
  border-bottom: dashed 1px black;
  padding: 20px;
  bottom: 10px;
}
.menu .menu-08 img {
  border: none;
  padding: 10px;
  border-radius: 50%;
  margin-top: 25px;
}
.menu .menu-08 h4 {
  text-transform: uppercase;
  font-family: "font-2";
  font-weight: 100;
}
.menu .menu-08 h5 {
  font-family: "font-3";
  font-weight: 300;
}
.menu .menu-08 .price {
  color: rgb(158, 103, 0);
}

.reservation {
  max-width: 1200px;
  margin: 0 auto;
  height: 550px;
  margin-top: 40px;
  background: rgb(33, 33, 33);
  display: grid;
  justify-items: stretch;
  grid-template-columns: 30% 70%;
  /*******************FORM**********************************/
}
.reservation .open {
  background: black;
  display: block;
  align-items: center;
  text-align: center;
}
.reservation .open h3 {
  color: rgb(158, 103, 0);
  font-family: "font-1";
  font-size: 2.5rem;
  margin-top: 40px;
}
.reservation .open h4 {
  color: rgb(254, 254, 254);
  font-family: "font-2";
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: -10px;
  text-align: center;
}
.reservation .open .img {
  margin-top: 20px;
}
.reservation .open h5 {
  color: rgb(158, 103, 0);
  font-family: "font-2";
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 30px;
}
.reservation .open h6 {
  color: rgb(254, 254, 254);
  font-family: "font-3";
  font-size: 1rem;
  font-weight: 100;
}
.reservation .open-container {
  border: 1px solid rgb(243, 243, 243);
  border-style: dashed;
  margin: 20px 20px 20px 20px;
}
.reservation .online-booking {
  background: white;
  display: block;
  align-items: center;
  text-align: center;
}
.reservation .online-booking h3 {
  color: rgb(158, 103, 0);
  font-family: "font-1";
  font-size: 4rem;
  font-weight: 100;
  margin-top: 60px;
}
.reservation .online-booking h4 {
  color: rgb(9, 9, 9);
  font-family: "font-2";
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 100;
  margin-top: -25px;
}
.reservation .img {
  margin-top: 20px;
}
.reservation .form-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  margin-top: 10px;
}
.reservation .form-container select {
  width: 200px;
  border: none;
}
.reservation .form-container label {
  color: transparent;
}
.reservation .form-container input {
  width: 200px;
  border: none;
}
.reservation .form-container .form {
  border-bottom: 1px solid rgb(124, 124, 124);
  margin-top: 50px;
  padding-bottom: 10px;
}
.reservation .form-container button {
  background: rgb(33, 33, 33);
  color: rgb(254, 254, 254);
  font-family: "font-2";
  border-radius: 20px;
  margin-top: 30px;
  width: 200px;
  height: 30px;
  border: none;
  cursor: pointer;
}
.reservation .form-container button:hover {
  width: 150px;
  height: 20px;
}

.event-title {
  text-align: center;
  margin-top: 70px;
}
.event-title h3 {
  color: rgb(158, 103, 0);
  font-family: "font-1";
  font-size: 3rem;
  font-weight: 100;
  margin-top: 60px;
}
.event-title h4 {
  color: rgb(254, 254, 254);
  font-family: "font-2";
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 100;
  margin-top: -15px;
}
.event-title img {
  margin-top: 20px;
}

.calendar {
  display: grid;
  justify-content: center;
  grid-template-columns: 620px 400px;
  grid-template-rows: 180px 180px;
  grid-template-areas: "eve01 eve03" "eve02 eve03";
  gap: 20px;
}
.calendar .event01 {
  grid-area: eve01;
  display: flex;
}
.calendar .event01 .description {
  background: rgb(254, 254, 254);
  width: 100%;
}
.calendar .event01 .description h4 {
  color: rgb(9, 9, 9);
  font-weight: 500;
  word-spacing: 3px;
  font-size: 1.2rem;
  margin-top: 20px;
  margin-left: 20px;
}
.calendar .event01 .description h5 {
  color: rgb(9, 9, 9);
  font-weight: 100 bold;
  word-spacing: 3px;
  font-size: 0.8rem;
  margin-top: 20px;
  margin-left: 20px;
  text-transform: uppercase;
}
.calendar .event01 .description .location-hours-time {
  display: flex;
  margin: 0 auto;
  text-align: center;
  gap: 15px;
  margin-top: 20px;
  margin-left: 20px;
}
.calendar .event01 .description .location-hours-time i {
  color: rgba(155, 155, 155, 0.888);
}
.calendar .event01 .description .location-hours-time h6 {
  color: rgba(155, 155, 155, 0.494);
  font-size: 1rem;
}
.calendar .event01 .back01 {
  background: url(/assets/img/event-01.jpg) center/cover;
  background-repeat: no-repeat;
  width: 50%;
  position: relative;
}
.calendar .event01 .back01 #square {
  height: 70px;
  width: 70px;
  background: rgb(33, 33, 33);
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
}
.calendar .event02 {
  grid-area: eve02;
  display: flex;
}
.calendar .event02 .description {
  background: rgb(254, 254, 254);
  width: 100%;
}
.calendar .event02 .description h4 {
  color: rgb(9, 9, 9);
  font-weight: 500;
  word-spacing: 3px;
  font-size: 1.2rem;
  margin-top: 20px;
  margin-left: 20px;
}
.calendar .event02 .description h5 {
  color: rgb(9, 9, 9);
  font-weight: 100 bold;
  word-spacing: 3px;
  font-size: 0.8rem;
  margin-top: 20px;
  margin-left: 20px;
  text-transform: uppercase;
}
.calendar .event02 .description .location-hours-time {
  display: flex;
  margin: 0 auto;
  text-align: center;
  gap: 15px;
  margin-top: 20px;
  margin-left: 20px;
}
.calendar .event02 .description .location-hours-time i {
  color: rgba(155, 155, 155, 0.888);
}
.calendar .event02 .description .location-hours-time h6 {
  color: rgba(155, 155, 155, 0.494);
  font-size: 1rem;
}
.calendar .event02 .back02 {
  background: url(/assets/img/event-02.jpg) center/cover;
  background-repeat: no-repeat;
  width: 50%;
  position: relative;
}
.calendar .event02 .back02 #square {
  height: 70px;
  width: 70px;
  background: rgb(33, 33, 33);
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
}
.calendar .event03 {
  grid-area: eve03;
  background: url(/assets/img/event-03.jpg);
}
.calendar .event03-container {
  margin: 0 auto;
  text-align: center;
  height: 340px;
  width: 340px;
  background: rgb(254, 254, 254);
  margin-top: 20px;
}
.calendar .event03-container h4 {
  margin-top: 30px;
  font-family: "font-3";
  color: rgb(9, 9, 9);
  font-weight: 500;
  word-spacing: 5px;
  font-size: 1.2rem;
}
.calendar .event03-container .location-hours-time {
  display: flex;
  margin: 0 auto;
  text-align: center;
  gap: 10px;
  margin-top: 20px;
}
.calendar .event03-container .location-hours-time i {
  color: rgba(155, 155, 155, 0.888);
}
.calendar .event03-container .location-hours-time h6 {
  color: rgba(155, 155, 155, 0.494);
  font-size: 1rem;
}
.calendar .event03-container h5 {
  font-family: "font-3";
  color: rgb(9, 9, 9);
  font-weight: 800 bolder;
  word-spacing: 5px;
  font-size: 0.85rem;
  text-transform: uppercase;
}
.calendar #square03 {
  position: relative;
  width: 25%;
  background: rgb(33, 33, 33);
  margin: 0 auto;
}
.calendar #square03:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.calendar .content {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
}
.calendar .content h4 {
  font-family: "font-2";
  color: rgb(254, 254, 254);
}
.calendar .content h5 {
  color: rgb(254, 254, 254);
  font-family: "font-3";
  font-weight: 600;
}

.ticket h5 {
  margin-top: 80px;
}

.img-ceo img {
  position: absolute;
  margin: 0 auto;
  margin-top: -50px;
  /****image ronde*****/
  background-color: rgb(245, 245, 245);
  border: none;
  border-radius: 50%;
  height: 100px;
  /********image ronde ********/
}

.message-container {
  position: relative;
  background: rgb(254, 254, 254);
  text-align: center;
  margin: 0 auto;
  margin-top: 180px;
  max-width: 1100px;
  height: 350px;
}
.message-container p {
  line-height: 30px;
  padding-top: 120px;
  color: rgb(9, 9, 9);
  font-family: "font-3";
  font-weight: 100;
}
.message-container h3 {
  margin-top: 35px;
  color: rgb(9, 9, 9);
  font-family: "font-3";
  font-weight: 600;
}
.message-container h4 {
  margin-top: 15px;
  color: rgb(158, 103, 0);
  font-family: "font-3";
  font-weight: 400;
}

footer {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  width: 100%;
  background: url(/assets/img/bg-footer.jpg) center/cover;
  height: auto;
  margin-top: 360px;
  overflow: hidden;
}
footer .footer-left {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 60px;
  margin-left: 350px;
}
footer .footer-left h4 {
  color: rgb(158, 103, 0);
  font-family: "font-1";
  font-weight: 100;
  font-size: 2.5rem;
}
footer .footer-left p {
  margin-top: 10px;
  color: rgb(162, 162, 162);
  font-family: "font-3";
  font-weight: 100;
  max-width: 55%;
  line-height: 25px;
}
footer .footer-right {
  width: 100%;
  margin-top: 80px;
  margin-bottom: 60px;
  margin-left: 55px;
}
footer .footer-right h3 {
  color: rgb(254, 254, 254);
  text-transform: uppercase;
  font-family: "font-3";
}
footer .footer-right input {
  color: rgb(124, 124, 124);
  background: none;
  margin-top: 15px;
  border: 1px solid rgb(124, 124, 124);
  padding: 5px 40px;
  cursor: pointer;
}
footer .footer-right input::-moz-placeholder {
  color: rgb(124, 124, 124);
}
footer .footer-right input:-ms-input-placeholder {
  color: rgb(124, 124, 124);
}
footer .footer-right input::placeholder {
  color: rgb(124, 124, 124);
}
footer .footer-right .follow {
  display: flex;
  align-items: center;
  margin-top: 50px;
}
footer .footer-right .follow i {
  color: rgb(124, 124, 124);
  padding: 30px;
}

.message-container {
  position: relative;
  z-index: 0;
}

.bg-map {
  background: url(/assets/img/gmap.jpg) center/cover;
  height: 450px;
  width: 100%;
  position: absolute;
  z-index: -1;
  margin-top: -90px;
}

@media screen and (max-width: 414px) {
  body {
    background: blue;
  }
}/*# sourceMappingURL=index.css.map */